.advantages {
    line-height:1.3;
    padding-bottom:93px
}
.advantages .title {
    padding-top:85px;
    margin-bottom:20px
}
.advantages .row {
    margin-bottom:-17px;
    padding-top:49px;
    font-size:18px;
    color:#684f40
}
.advantages .row img {
    padding-bottom:14px
}
.advantages {
    padding-bottom:20px
}
.advantages .col-xs-12 {
    padding-bottom:25px
}.advantages .row {
     padding-top:20px
 }
.advantages .title {
    padding-top:0
}

#header {
    background: url('../images/header_bg.jpg') 50% top repeat;
}

@font-face {
    font-family: 'Appetite';
    src:
            url('fonts/appetite_new.eot') format('embedded-opentype'),
            url('fonts/appetite_new.woff') format('woff'),
            url('fonts/appetite_new.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
}

.price {
    font-family: 'PT Sans', serif;
}

body {
    color: #555;
    font: normal 14px/22px Helvetica Neue, Helvetica, sans-serif;
    background: url(../images/bgmain.png) #eee;
}

/*240x155*/
img:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: 2px dotted rgb(200, 200, 200);
    border-radius: 5px;
}

img:after {
    content: "\f127" "Нет изображения";
    display: block;
    font-size: 14px;
    font-style: normal;
    font-family: FontAwesome;
    color: rgb(100, 100, 100);

    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}
.news img:before {
    width: auto;
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    /* font-family: Appetite; */
    margin: 0;
    padding: 0;
    color: #000
}

h1 {
    font-size: 60px;
    margin-bottom: 25px;
    color: #fff;
}

h2 {
    font-size: 35px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

h2.lined{
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    line-height: 30px;
    /* font-family: Appetite; */
}

h2.lined span{
    position: relative;
}
h2.lined span i{
    position: absolute;
    top: 19px;
    right: -302px;
    display: block;
    width: 285px;
    height: 5px;
    font-size: 0;
    background: url('../images/h_r.png') no-repeat;
}
h2.lined span i:first-child{
    right: auto;
    left: -302px;
    background: url('../images/h_l.png') no-repeat;
}

h3 {
    margin: 0 0 15px 0;
    font-size: 25px;
}

h4 {
    margin: 10px 0;
    font-size: 19px;
}

h5 {
    margin: 0 0 5px 0;
    font-size: 17px;
}

h6 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

h4 span {
    margin-right: 5px;
    font-size: 15px;
}

h6 span {
    margin-right: 5px;
    font-size: 12px;
}

p {
    margin-bottom: 10px;
}

a {
    color: #bf2d26;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #333;
}

.spacer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.center {
    text-align: center;
}

.fullwidth {
    width: 100%;
}

select,
input {
    outline: 0;
    margin-bottom: 20px;
}

a.more {
    background-color: #222;
    padding: 2px 6px;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}

a.more:hover {
    background: #bf2d26;
    text-decoration: none;
}

table {
    background-color: #fff;
}

.btn {
    border-radius: 5px;
    /* font-family: Appetite; */
    outline: none;
}

.btn-success {
    background: #bf2d00;
    border: 1px solid #bf2d26;
    padding: 6px 20px;
    font-size: 16px;
    width: 100%;
}

.btn-primary {
    background: #bf2d26;
    border: none;
    width: 100%;
    border-radius: 20px;
}

.btn-info {
    background: #333;
    border: 4px solid #ddd;
    padding: 3px 20px;
    font-size: 20px;
    border-radius: 20px;
}

.thumbnail {
    background-color: #fff;
}

.header {
    padding: 20px 0;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

.header ul li {
    display: inline-block;
    padding: 0 0 0 40px;
}

.header ul li a {
    font-size: 16px;
    font-family: appetite_new;
    text-transform: uppercase;
}

.header ul li a:hover {
    text-decoration: none;
}

.navbar-inverse {
    background-color: #111;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Helvetica Neue', sans-serif, 'Philosopher','Arial';
    color: #c0a16b;
    text-transform: uppercase;

}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #bf2d26;
}

ul li.active li.active a  {
    background-color: #bf2d26;
}

.banner-search {
    background: url(../images/bginside.jpg)/*tpa=http://thebootstrapthemes.com/live/thebootstrapthemes-realestate/images/bginside.jpg*/
    #111;
    color: #fff;
    padding: 20px 0 10px 0;
    font-size: 16px;
}

.banner-search h3 {
    color: #fff;
}

.properties-listing .viewall {
    margin-top: 15px;
}

.properties-listing div.properties {
    padding: 10px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.owl-wrapper-outer div.properties {
    margin: 0 5px;
}

.properties-listing div.properties .image-holder {
    position: relative;
}

.properties-listing div.properties .status {
    position: absolute;
    bottom: 0;
    z-index: 100;
    display: block;
    width: 100%;
    color: #fff;
    padding: 0 3px;
    text-align: right;
    font-size: 12px;
}

.properties-listing div.properties p {
    margin-bottom: 10px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    font-family: din;
}

.listing-detail {
    margin-bottom: 30px;
}

.listing-detail span {
    color: #fff;
    width: 25px;
    height: 25px;
    background-color: #555;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    cursor: crosshair;
}

.listing-detail span:hover {
    background: #bf2d26;
}

.status.recommend {
    background: #bf2d26;
}

.status.new {
    background: rgba(255, 125, 0, 1);
}

.recommended {
    position: relative;
}

.recommended .carousel-indicators {
    position: absolute;
    text-align: left;
    left: 0;
    bottom: -40px;
    margin: 0;
}

.recommended .carousel-indicators li {
    border: 1px solid #888;
}

.recommended .carousel-indicators .active {
    background-color: #ccc;
}

.recommended p {
    margin: 5px 0 10px 0;
}

.modal-content {
    padding: 20px;
}

.login .form-group input {
    padding: 10px;
    height: 50px;
}

.register input {
    padding: 10px;
    height: 50px;
}

.contact input {
    padding: 10px;
    height: 50px;
}

.register input,
.register textarea,
.contact input,
.contact textarea {
    margin-bottom: 15px;
}

.login button,
.register button,
.contact button {
    width: 100%;
    border-radius: 5px;
}

/*inside*/

.inside-banner {
    background: url(../images/bginside.jpg) #222;
    color: #fff;
    padding: 10px 0;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px
}

.inside-banner h2 {
    text-indent: 40px;
    margin: 0;
    color: #fff;
}

.inside-banner span {
    margin-top: 10px;
}

.search-form {
    margin-bottom: 50px;
}

.search-form h4 {
    margin: 17px 0;
}

.new-properties {
    margin-bottom: 50px;
}

.new-properties img {
    width: 68px;
    height: 68px;
}

.new-properties h4 {
    margin-bottom: 20px;
}

.new-properties .row {
    margin-bottom: 20px;
}

.new-properties .row p {
    margin-bottom: 5px;
}

.sortby .result {
    margin-top: 10px;
}

.property-info {
    margin: 0 0 30px 0;
}

.property-info span {
    margin-right: 5px;
}

.property-info p {
    margin-bottom: 10px;
}

.property-info p.price {
    font-size: 28px;
    color: #bf2d26;
    padding: 0;
    border-radius: 5px;
}

.property-info .profile {
    margin-top: 30px;
}

.property-info .profile p {
    padding-left: 20px;
    color: #999;
}

.enquiry input,
.enquiry textarea {
    margin-bottom: 10px;
}

.enquiry button {
    border-radius: 5px;
}

.blog .info {
    color: #999;
    margin-bottom: 10px;
    font-size: 12px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #b79e1d;
    border-radius: 0;
    color: #fff;
    border: none;
}

.blog .tabbable .tab-content ul li {
    margin: 15px 0;
}

.blog .row {
    margin-bottom: 50px;
}

.agents .row {
    margin-bottom: 40px;
}

.agents .row h4 {
    margin: 0;
}

/*footer*/

.footer {
    background: url(../images/bg.jpg) #222;
    padding: 20px 0;
    color: #999;
}

.footer h4 {
    color: #fff;
    border-bottom: 2px solid #131313;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a:hover {
    color: #fff;
}

.footer p.copyright {
    margin: 30px 0 0 0;
}

@media (max-width: 600px) {
    .header {
        text-align: center;
    }
    .header ul {
        width: 100%;
        margin-bottom: 20px;
    }
    .header ul li {
        padding: 0 20px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    .login {
        margin-bottom: 40px;
    }
    .searchbar button {
        margin-bottom: 40px;
    }
    .footer .col-sm-3 {
        margin-bottom: 30px;
    }
    .agents img {
        margin-bottom: 20px;
    }
}